<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
    />
    <title>Doubledown // Stats</title>

    <style>
      body { padding: 20px}
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Coin</th>
          <th>Price</th>
          <th>Next Purchase</th>
        </tr>
      </thead>
      <tbody>
        {{#each prices}}
          <tr>
            <td data-label="Coin">{{this.symbol}}</td>
            <td data-label="Price">{{this.price}}<br><sub>{{ this.modelPrice }}</sub></td>
            <td data-label="Next Purchase">{{this.nextPurchase}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <hr>
    <table>
      <caption>Purchases</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Coin</th>
          <th>Level</th>
          <th>Sell</th>
        </tr>
      </thead>
      <tbody>
        {{#each purchases}}
          <tr>
            <td data-label="ID">{{this.id}}</td>
            <td data-label="Coin">{{this.symbol}}</td>
            <td data-label="Level">{{this.level}}</td>
            <td data-label="Sell">{{this.sellAtPrice}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>